<section class="my-5 chapter" id="mods">
  <div class="container">
    <h2>Pobranie modow</h2>
    <article>
      <p class="py-3">
        Aby pobrać mody do naszego serwera musisz najpierw je pobrać z zakładki <a target="_blank" href="/pobierz"
          class="text-success fw-bold">Pobierz</a>.
      </p>
      <p class="py-3">
        Zapisujemy gdzies pobrany plik .zip (najlepiej na pulipcie). Klikamy prawym przyciskiem myszy na pobrany plik
        .zip i klikamy <span class="text-success fw-bold">Wypakuj tutaj (Extract Here)</span>.
      </p>
      <img src="./img/pobieranie/wypakuj.png" alt="" class="img-fluid mx-auto d-block">
      <p class="py-3">
        Zauważ, że utworzył ci się nowy folder pod nazwą <span class="text-primary fw-bold">mods</span>. Ten folder
        przyda nam się w następnej sekcji.
      </p>
      <img src="./img/pobieranie/nowyfolder.png" alt="" class="img-fluid mx-auto d-block">
    </article>
  </div>
</section>