<nav class="navbar navbar-expand-lg navbar-dark p-5">
    <div class="container d-flex">
      <a href="/" class="navbar-brand ">
        <h1 class="logo">
          Small <br class="d-xl-none"> Adventures
        </h1>
      </a>
      <button class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="dropdown nav-item">
            <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Instalacja
            </a>
            <ul class="dropdown-menu bg-dark text-light" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/premium">Minecraft Premium</a></li>
              <li><a class="dropdown-item" href="/nonpremium">Minecraft Non Premium</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/lista_modow" class="nav-link">Lista modów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pobierz">Pobierz</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>