<!doctype html>
<html lang="pl">
  <head>
    <%- include('layouts/head') %>


    <title>YeaFuckerModded</title>
  </head>
  <body>
    <%- include('layouts/nav') %>
    <section class="showcase  animate__animated animate__fadeInUp">
      <div class="container p-5 my-5">
        <h1>😬404 Well, that is awkward😬</h1>
        <p class="lead fw-normal">
          Wygląda na to, że ta strona nie istnieje
        </p>
      </div>
    </section>

    <%- include('layouts/script') %>

  </body>
</html>