<!doctype html>
<html lang="pl">
  <head>
    <%- include('layouts/head') %>


    <title>YeaFuckerModded</title>
  </head>
  <body>
    <%- include('layouts/nav') %>
    <section class="showcase  animate__animated animate__fadeInUp">
      <div class="container">
        <h1 id="title" class="my-5">
          Zagrajmy na modach
        </h1>
        <p class="lead fw-normal my-5">
          Naciśnij <span class="text-emphasis">Pobierz mody</span> aby pobrać paczkę modów, następnie przejdź do instalacji.
        </p>
      </div>
    </section>
    <section class=" my-3 py-2  animate__animated animate__fadeInUp" id="ip">
      <div class="container">
        <h1 class="py-3 px-2 rounded-2 overflow-hidden">
          <a target="_blank"  href="/pobierz/pliki" id="action-body" data-toggle="popover" title="Kopiuj" data-content="Pobierz" "> Pobierz mody</a>
        </h1>
    </section>
    <h2 class="d-none text-center" id="action-final">
      Downloaded!
    </h2>
    <script src="./js/userAction.js"></script>

    <%- include('layouts/script') %>
  </body>
</html>